<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Create User</h1>
    <form th:action="@{/users/create}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" th:field="*{username}" class="form-control" id="username" required/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" th:field="*{email}" class="form-control" id="email" required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" th:field="*{password}" class="form-control" id="password" required/>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" th:field="*{firstName}" class="form-control" id="firstName"/>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" th:field="*{lastName}" class="form-control" id="lastName"/>
        </div>
        <div class="form-group">
            <label for="birthDay">Birth Day</label>
            <input type="date" th:field="*{birthDay}" class="form-control" id="birthDay"/>
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <select th:field="*{role}" class="form-control" id="role">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role.role_name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>
